<div class="collaborators-summary">
    <div class="summary-card" style="align-items: center; text-align: center;">
        <div class="summary-card-value">@TotalCollaborators</div>
        <div class="summary-card-label">Total de colaboradores</div>
    </div>
    <div class="summary-card" style="align-items: center; text-align: center;">
        <div class="summary-card-value">@Leaders</div>
        <div class="summary-card-label">Líderes</div>
    </div>
    <div class="summary-card" style="align-items: center; text-align: center;">
        <div class="summary-card-value">@Contributors</div>
        <div class="summary-card-label">Contribuidores individuais</div>
    </div>
</div>

@code {
    [Parameter] public int TotalCollaborators { get; set; }
    [Parameter] public int Leaders { get; set; }
    [Parameter] public int Contributors { get; set; }
}
