<div class="@CssClass">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string CssClass { get; set; } = "summary-cards";
}
