<nav class="sidebar-nav">
    <NavLink class="nav-item" href="my-things">Minhas Coisas</NavLink>
    <NavLink class="nav-item" href="organizations">Gestão</NavLink>
    <NavLink class="nav-item" href="missions">Missões</NavLink>
</nav>
